@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;500 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

html::-webkit-scrollbar {
    width: 0 !important;
}

body {
    background: #000;
    height: 100vh;
    padding: 2rem 2rem 2rem 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 1rem 3%;
    width: 100%;
    border-radius: 1000px;

    .header-left .logo {
        width: 10vw;
        cursor: pointer;
        transition: .3s;
    }

    .logo:hover {
        transform: scale(1.05);
    }

    .header-middle .navbar {
        margin-left: -10rem;

        a {
            margin-inline: 1rem;
            font-size: 1.8rem;
            color: #fff;
            position: relative;
        }

        a::after {
            content: '';
            width: 0;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: .4s;
        }

        a:hover::after {
            width: 100%;
        }
    }

    .header-right .header-top,
    .header-right .header-bottom {
        font-size: 1.8rem;
        a {
            margin-inline: 1rem;
            font-size: 1.8rem;
            color: #fff;
            position: relative;
        }

        a::after {
            content: '';
            width: 0;
            height: 2px;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: .4s;
        }

        a:hover::after {
            width: 100%;
        }
    }

    .header-right .header-top {
        margin-bottom: 0.2rem;
    }

}
